.container {
	/*max-width: 1240px;*/
	margin: 0 auto; /* centers the container on the page */
	font-family: 'Inconsolata', monospace;
	box-sizing: border-box;
}

body {
	/*background-color: #CFCFCF;*/
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4{
	color: #000;
	font-weight: normal;
	margin-top: default;
	margin-bottom: default;
	text-align: default;
	text-transform: none;
	font-family: 'Inconsolata', monospace;
}

h1 {
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: default;
	text-transform: inherit;
}

h2 {
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: default;
	text-transform: inherit;
	padding: 0 0 0 10px;
}

h3 {
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: default;
	text-transform: inherit;
}

h4 {
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: default;
	text-transform: inherit;
}

p {
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: default;
	text-transform: inherit;
	padding: 0 0 0 10px;
	
}

img {
	width: 100%;
}
/*
.img_small {
	background-color: #EFEDF4;
	width: 422px;
	height: 497px;
	position: absolute;
	right: 0;
}*/

/* Header */
header {
	background-color: #FFFFFF;
	padding-top: 0;
	padding-bottom: 0;
}

.logo {
	display: inline-block;
	width: 125px;
	height: 70px;
	padding-bottom: 5px;
}

.nav li {
	display: inline-block;
	list-style: none;
}

.primary-nav {
	overflow: hidden;
	background-color: white;
}

.primary-nav a {
	float: right;
	color: #646068;
	font-size: 20px;
	text-align: center;
	padding: 24px 40px;
	text-decoration: none;
}

.primary-nav a:hover {
	background-color: #5A208C;
	color: white;
	font-weight: normal;
	text-decoration: none;
}


/* Hero */
.hero {
	max-width: 1240px;
	padding-bottom: 20px;
	margin: auto;
}


/* Footer */
footer {
	background-color: #eee;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Inconsolata', monospace;
}

.footer-links {
	color: default;
	display: inline-block;
	padding: 10px 30px;
	vertical-align: text-top;
}

.footer-links a {
	display: block;
}

.footer-links a:hover {
	color: none;
	font-weight: normal;
	text-decoration: default;
}

.copyright {
	display: inline;
	color: inherit;
	font-weight: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	text-align: right;
	text-transform: inherit;
}


/* Drop down menu*/
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 20px;    
    border: none;
    outline: none;
    color: #646068;
    padding: 24px 30px;
    background-color: inherit;
	font-family: 'Inconsolata', monospace;
}

.dropdown:hover .dropbtn {
    background-color: #5A208C;
	color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5A208C;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Columns and rows layout */

.column {
	/*float: left;*/
	background-color: #EFEDF4;
	display: table-cell;
	margin-bottom: 10px;
	overflow: auto;
}

.column.image {
	width: 37.5%;
}

.column.text {
	width: 62.5%;
	padding: 10px 0 10px 0;
	vertical-align: top;
}

.row {
	display: table;
	width: 100%;
	margin-bottom: 10px;
	
}

.row:after {
    content: "";
    display: table;
    clear: both;
} 



@media (max-width: 700px) {
    .column.image, .column.text {
		display: block;
        width: 100%;
    }
}

.article {
	background-color: #EFEDF4;
	color: 605B66;
	/*clear: left;*/
	text-align: left;
	padding: 10px 10px 400px 10px;
	margin: 0 422px 10px 0;
}